<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/stylesheets/adega.css' />
  </head>
  <body>

    <%- include('./partials/header'); -%>

    <main>

        <div class="tituloDaPagina">
            <h2>Minha Adega</h2>
        </div>

        <div class="caixaItemCarrinho">

            <section class="caixaItemCarrinho_sec-1">
                
                <section class="container-vitrine">
                    
                    <% for( let produto of produtoPesquisado) { %>
                    <section class="">
        
                        <div class="">
                            
                            <a href=" /produtos/produto/<%= produto.id %> ">
                                <img src="<%= produto.image %> " alt=""></a>
                        </div>
                        <h3> <%= produto.nome %> </h3>
                        <p> R$ <%= produto.preco %> </p>
        
        
                        <!-- Botão de adicionar a Adega -->
                        <form id="formulario_do_botao" method="post" action="/pedidos">
                            <input type="hidden" name="produtos_id" id="produtos_id" value="<%= produto.id %>" />
                            <input min="1" type="number" id="quantidade" name="quantidade" value="1" />
                            <button onclick="postPedido()" id="form_pedido_btn" type="submit">Adicionar a Adega</button>
                        </form>
        
        
        
                    </section>
                    <% } %>
                </section>


            </section>

        </div>

        <div class="totais">

            <section class="totais-calculo-frete">
                <h4>Calcular o frete</h4>
                <form class="formularioCep">
                    <input class="inputCep" type="text" id="CEP" name="CEP" placeholder="Informe seu CEP" required>
                    <input type="submit" class="botaoSimular" value="Simular">
                    <div class="respostas-cep">
                        <span class="resposta-valor-frete">Valor do frete R$(aqui)</span>
                        <span class="'resposta-prazo-entrega">Prazo de entrega (aqui) dias</span>
                    </div>
                </form>
            </section>
            
            <section class="totais-resumo-compra">
                <h3>Resumo</h3>
                
                <div class="resumo-compra-subtotal">
                    <div class="resumo-compra-subtotal-conteudo">
                        <span class="quantidade-itens">Quantidade de itens (aqui)</span>
                        <span class="valor-itens">Subtotal R$(aqui)</span>
                    </div>
                </div>
                
                <div class="resumo-compra-total">
                    <div class="resumo-compra-total-conteudo">
                        <h4>Total</h4>
                        <span class="valor-itens">R$(aqui)</span>
                    </div>
                </div>

                <div class="condicoes-pgto">
                    <label>Condições de pagamento</label>
                    <form class="condicoes-pagamento-opcoes">
                        <select required>
                            <option>Boleto</option>
                            <option>Cartão de crédito</option>
                        </select>
                    </form>
                </div>
            
            </section>
        
        </div>

        <div class="voltar-finalizar-compra">
            <section class="voltar-comprar">
                <div class="voltar">
                    <button class="botao-voltar" type="">Continuar comprando</button>
                </div>
        
                <div class="aba-compra-box">
                    <button class="botao-finalizar-compra" type="">Finalizar Compra</button>
                </div>
            </section>
        </div>

    </main>

<%- include('../views/partials/footer'); -%>