<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/stylesheets/cadastro-style.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <%- include('../views/partials/header'); %>

    <main>

        <h1>
            <%= title %>
        </h1>

        <form action="/users/<%= user.id %>/editar?_method=put" method="POST">
            <label for="email">E-mail:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'email') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="email" id="email" placeholder="email@provedor.com" value="<%= user.email %>">                    
                    
                    <label for="cpf">CPF:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'cpf') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="number" name="cpf" id="cpf" placeholder="CPF" value="<%= user.cpf %>">


                    <label for="name">Nome:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'name') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="name" id="name" placeholder="Nome" value="<%= user.name %>">

                    <label for="last_name">Sobrenome:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'last_name') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="last_name" id="last_name" placeholder="Sobrenome" value="<%= user.last_name %>">

                    <label for="birthday">Data de nascimento:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'birthday') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="date" name="birthday" id="birthday" placeholder="Nascimento" value="<%= user.birthday %>">
    
                    <div class="pessoal_data_age">
                        <label for="age">Tenho mais de 18 anos.*</label>
                        <input type="checkbox" name="age" id="age" class="age_input" checked="<%= user.age %>">
                        <% if (typeof errors !== 'undefined') { %>
                            <% for(let error in errors) { %>
                            <% if(error == 'age') { %>
                                <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                            <% } %>
                            <% } %>
                    <% } %>
                    </div>
    
                    <label for="telephone">Telefone celular:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'telephone') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="tel" name="telephone" id="telephone" placeholder="Telefone" value="<%= user.telephone %>">
    
    
                    <h2>Endereço</h2>
    
    
                    <label for="destinatario">Nome do destinatário e/ou ponto de referência:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'destinatario') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="destinatario" id="destinatario" placeholder="Destinatário" value="<%= user.destinatario %>">
                    
                    <label for="cep">CEP:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'cep') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="number" name="cep" id="cep" placeholder="CEP" value="<%= user.cep %>">

                    <label for="name">Logradouro:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'logradouro') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="logradouro" id="logradouro" placeholder="logradouro" value="<%= user.logradouro %>">

                    <label for="cidade_bairro">Cidade e Bairro:*</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'cidade_bairro') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="cidade_bairro" id="cidade_bairro" placeholder="Cidade_bairro" value="<%= user.cidade_bairro %>">

                    <label for="numero">Número*:</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'numero') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="number" name="number" id="numero" placeholder="Numero" value="<%= user.number %>">

                    <label for="complemento">Complemento:</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'complemento') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="text" name="complemento" id="complemento" placeholder="complemento" value="<%= user.complemento %>">

                    <label for="password">Senha*:</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'password') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="password" name="password" id="password" placeholder="password" value="<%= user.password %>">

                    <label for="confirm_password">Confirmar Senha*:</label>
                    <% if (typeof errors !== 'undefined') { %>
                        <% for(let error in errors) { %>
                        <% if(error == 'confirm_password') { %>
                            <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                        <% } %>
                        <% } %>
                <% } %>
                    <input type="password" name="confirm_password" id="confirm_password">

                    <div class="political_privacity">
                        <label for="terms">Ciente das políticas de privacidade e termos de uso do site.*</label>
                        <input type="checkbox" name="terms" id="terms" class="political_privacity_input" checked="<%= user.terms %>">
                        <% if (typeof errors !== 'undefined') { %>
                            <% for(let error in errors) { %>
                            <% if(error == 'terms') { %>
                                <p style="font-size:larger; color: red;"><%= errors[error].msg %></p>
                            <% } %>
                            <% } %>
                    <% } %>
                    </div>
                    <button type="submit">Completar cadastro</button>
    
        </form>


    </main>
    
</body>
</html>