<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/necessario-revisao--produto.css" />
  <title>Adega Digital | Produto</title>

</head>

<body>

  <%- include('../views/partials/header'); -%>

    <main>

      <div class="corpo-todo">

        <section class="detalhes-produto-unitario">
          <div class="imagem-detalhes-preco">
            <!-- Div imagem -->
            <div class="imagem-produto">
              <img src="<%= product.image %> " class="img-fluid rounded-start imagem-card" alt="...">
            </div>
                
            <!-- Div detalhes/informações produto -->
            <div class="detalhes-produto">
              
              <div class="titulo-detalhes-produto">
                <h5> <%= product.nome %> </h5>
                  <h6>Detalhes</h6>
                    <p> <%= product.descricao %> </p>
                    <div class="outros-detalhes">
                      <p></i> Origem: <%= product.pais %> </p>
                      <p> Teor alcoólico: <%= product.teor_alcoolico %> </p>
                      <p></i> Temperatura: <%= product.temperatura %>°C </p>
                    </div>
              </div>
  


  
              <div class="produto-preco-produto">
                <p>R$ <%= product.preco %><p>
              </div>
  
            </div>
          </div>

          <!-- Did botão adicionar à adega -->
          <div class="adicionar-adega">
            <button type="button" class="botao-adicionar-adega">Adicionar à Adega</button>
          </div>

        </section>
      </div>
    </main>

    <%- include('../views/partials/footer'); -%>

</body>

</html>