<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    <link rel='stylesheet' href='./stylesheets/produtos.css' />
</head>

<body>

    <%- include('../views/partials/header'); %>

        <main>
            <h1>NOSSOS PRODUTOS</h1>
            <br>

            <a class="botaoVoltar" href="/">Voltar à Página Inicial</a>


            <br>

            <section class="content">
            <% for( let produto of produtos) { %>
                <div class="containerVinho">
                    <section class="contentVinho">
                        <div class="contentImage">
                            <a href=" /produtos/detail/<%= produto.id %> ">
                                <img src="<%= produto.image %> " alt="">
                            </a>
                        </div>
                        <h3><%= produto.nome %> </h3>
                        <p>R$ <%= produto.preco %></p>
                        <button>Adicionar à Adega</button>
                    </section>
                </div>
                <% } %>
            </section>

        </main>


        <%- include('./partials/footer') %>

</body>

</html>