<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/home-style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <h1 class="users-list-title"><%= subtitulo %></h1>
        <section class="users-list-box">
            <% if (locals.usuarios) { %>
            <table class="users-list-table">

                <thead>
                    <tr class="users-list-title">
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Sobrenome</td>
                        <td>Email</td>
                        <td>Configurações</td>
                    </tr>
                </thead>
            
                <% for (let usuario of usuarios) { %>
                <tbody>
                    <tr class="users-list-content">
                        <td><%= usuario.id %></td>
                        <td><%= usuario.nome %></td>
                        <td><%= usuario.sobrenome %></td>
                        <td><%= usuario.email %></td>
                        <td class="users-list-options">
                            <a href="/usuarios/<%= usuario.id %>" class="config-ver">Ver</a>
                            <a href="/usuarios/<%= usuario.id %>/editar" class="config-editar">Editar</a>
                            <a href="/usuarios/<%= usuario.id %>/excluir" class="config-excluir">Excluir</a>
                        </td>
                    </tr>
                </tbody>
                <% } %>
                
            </table>

                <% } else { %>
                <div>
                    <h3>Não há usuários cadastrados ainda.</h3>
                </div>
            <% } %>
        </section>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>