<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="./stylesheets/vitrine-style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine</title>
</head>
    
<%- include('../views/partials/header'); -%>

<body>

    <h1 class="vitrine-text">Vinho Tinto</h1>

    <main>
        <br>

        <a class="botaoVoltar" href="/">Voltar à Página Inicial</a>


        <br>

        <section class="content">
            <% for( let produto of result) { %>
                <section class="containerVinho">

                    <div class="contentImage">
                        <a href=" /produtos/produto/<%= result.id %> ">
                            <img src="<%= produto.image %> " alt="">
                        </a>
                    </div>
                    <h3>
                        <%= produto.nome %>
                    </h3>
                    <p>R$ <%= produto.preco %>
                    </p>
                    <button>Adicionar à Adega</button>

                </section>
                <% } %>
        </section>

    </main>


    <%- include('../views/partials/footer'); -%>
</body>
</html>