<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>

    <%- include('../views/partials/header'); %>

    <main>
        <h1>Lista de Usuários</h1>
        <section>
            <% if (locals.usersList) { %>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>E-mail</th>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Nascimento</th>
                            <th>Maioridade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let user of usersList) { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td>
                            <td><%= user.cpf %></td>
                            <td><%= user.name %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.birthday %></td>
                            <td><%= user.age %></td>
                            <td><a href="users/<%= user.id %>">Ver</a> | <a href="users/<%= user.id %>/editar">Editar</a> | 
                            <a href="users/<%= user.id %>/delete">Excluir</a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } else { %>
                <div>
                    <h3>Não há usuários cadastrados ainda.</h3>
                </div>
                <% } %>
        </section>
    </main>
    
</body>
</html>